@page
@model BibleAppEF.Areas.Identity.Pages.Admin.Roles.EditModel
@{
    //var Claims = Model.AllClaims;
    <h3>Details for the Role: @Model.GetRole.Name</h3>
    <hr />
    <form method="post">
        <div class="row">
            <div class="col-2">
                <label>Role Id: </label>
            </div>
            <div class="col-5">
                @Model.GetRole.Id.ToString()
            </div>
            <div class="col-5">

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-2">
                <label>Role Name: </label>
            </div>
            <div class="col-5">
                @Model.GetRole.Name
            </div>
            <div class="col-5">
                <input type="text" name="roleName"/>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-2">
                <label>Permissions: </label>
            </div>
            <div class="col-5">
                @{var i = 0;}
                @*@foreach (var claim in Claims)
                {
                    i++;
                    foreach (var claim2 in Model.Claims)
                    {
                        @if (claim == claim2.Type)
                        {
                            <div class="row custom-control custom-checkbox">
                                <input id="@claim@i" name="@claim" type="checkbox" class="custom-control-input" checked="" />
                                <label class="custom-control-label">@claim</label>
                            </div>
                        }

                        else
                        {
                            <div class="row custom-control custom-checkbox">
                                <input id="@claim@i" name="@claim" type="checkbox" class="custom-control-input" />
                                <label class="custom-control-label">@claim</label>
                            </div>
                        }
                    }

                    //Claims.Remove(claim);
                }*@
            </div>
        </div>


        <hr />
        <div class="row">
            <div class="col">
                <input type="hidden" name="roleId" value="@Model.GetRole.Id" />
                <button asp-page-handler="Update">Update</button>
            </div>

        </div>
    </form>
}
